header {
    text-align: center;
    background-color: #ff2d22;
    color: white;
    text-decoration: none;
    font-family: "Gill Sans";
    margin: 15px;
    padding: 10px;
}

header a {
    text-decoration: none;
    color: white;
    padding: 10px;
}

header p {
    text-align: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    color: #333;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Courier New', Courier, monospace;
}

p {
    text-align: justify;
}

article {
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: silver;
    width: 600px;
    margin: auto;
    margin-bottom: 20PX;
    padding: 10px;
    text-align: center;
}

article ul, li {
    text-align: left;
}

article table {
    margin: auto;
}

.ArticleDanger {
    padding: 10px;
}

#Read {
    font-family: 'Courier New', Courier, monospace;
}

.caixa1 {
    width: 600px;
    height: 400px;
    margin: auto;
    background-color: rgb(55, 255, 0);
    background-image: url(https://i.pinimg.com/originals/b8/fe/c4/b8fec4f6dee9185c220214f09594390c.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer{
    width: 100%;
    margin-top: 100px;
    background-color: black;
}

footer p{
    text-align: center;
    color: white;
}