* {
    margin: 0;
    padding: 0;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: linear-gradient(rgba(16, 16, 16, 0.5), rgba(25, 25, 25, 0.5)), 
    url(https://images.pexels.com/photos/4489704/pexels-photo-4489704.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 0px;
}

header {
    width: 100%;
    height: 7vw;
    background: rgba(199, 183, 1, 0.947);
    position: fixed;
}

.menu {
    text-transform: uppercase;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    font-size: 18px;
}

.logo {
    cursor: pointer;
    width: 7%;
    margin-left: 30px;
    margin-bottom: 25px;
}

.menu .lista-menu {
    display: flex;
    list-style: none;
    gap: 10px;
    align-items: center;
}

.menu .lista-menu a {
    text-decoration: none;
    color: white;
    padding: 15px;
    transition: 2ms ease-in;
    position: relative;
}

.menu .lista-menu a::before {
    content: ' ';
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 2px;
    background-color: wheat;
    transition: all 1s ease;
}

.menu .lista-menu a:hover:before {
   width: 100%;
   background-color: yellow;
}

main {
    height: 120vh;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 300, 300);
    font-size: 20px;
}

.div-cards {
    padding: 20px;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}

.card {
    width: 300px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    align-items: center;
    & img {
        width: 100%;
        height: 80%;
        border-radius: 10px;
    }
    & h1 {
        padding: 15px;
    }
    & p {
        text-align: center;
        font-size: 14px;
    }
    & button {
        width: 100px;
        padding: 10px;
        background-color: #c7b701;
        font-size: 14px;
        color: white;
        border-radius: 10px;
        
    }

}

footer {
    background-color: black;
    color: white;
    padding: 20px 0;
    font-size: 15px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1350px;
    margin: 0 auto;
    margin-bottom: 0;
    padding: 20px;
}

.footer-form, .footer-contact {
    flex: 1;
    margin: 0 100px;
}

.footer-form h3, .footer-contact h3 {
    margin-bottom: 10px;
}

.footer-form form {
    display: flex;
    flex-direction: column;
}

.footer-form label {
    margin-bottom: 5px;
}

.footer-form input {
    margin-bottom: 10px;
    padding: 5px;
    font-size: 1.4rem;
}

.footer-form button {
    padding: 10px;
    font-size: 1.6rem;
    background-color: yellow;
    border: none;
    cursor: pointer;
}

.footer-contact p {
    margin-bottom: 10px;
}
